<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Admin Home</h1>
<a href ="newSong"><button type="button" class="my-btn1">Add a new song</button></a>
<br/>
<a href ="viewSongs"><button type="button" class="my-btn1">View all songs</button></a>
<br/>
<a href ="createPlaylist"><button type="button" class="my-btn1">Create Playlist</button></a>
<br/>
<a href ="viewPlaylists"><button type="button" class="my-btn1">View all Playlists</button></a>
<br/>
</body>
</html>